@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100;1,300&display=swap");

:root {
  --bg-blue: #79bed9;
  --bg-dark: #403f3f;
  --bg-green: #a3bf38;
  --bg-pink: #d9486e;
  --bg-yellow: #f2b705;
}
* {
  padding: 0px;
  margin: 0px;
}
.container {
  max-width: 100%;
}
/* Sección Header */
.container-header {
  width: 100%;
  height: 200px;
  background: var(--bg-dark);
  position: relative;
}
.container-header::before {
  background-repeat: no-repeat;
  background-image: url("./Images/trofeo.png");
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  content: "";
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--bg-blue);
  transform: translateX(-50%) translateY(50%);
  bottom: 0px;
}
/* Sección Main */
.main {
  height: 600px;
  display: flex;
  flex-flow: row;
}
.title-main {
  align-self: center;
  color: var(--bg-yellow);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
}
.text-main {
  margin-top: 15px;
  font-family: roboto;
  font-weight: 100;
}
.section-uno {
  text-align: center;
  flex: 1;
  margin: 50px;
  align-self: center;
  height: 350px;
  box-shadow: 15px 11px 5px -2px rgba(64, 63, 63, 0.1);
}
.section-uno:hover {
  box-shadow: none;
  border: 3px solid var(--bg-blue);
  border-radius: 12px;
}
.section-dos {
  padding: 25px;
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.listado {
  width: 200px;
}
.lista {
  border-radius: 5px;
  box-shadow: 15px 11px 5px -2px rgba(64, 63, 63, 0.1);
  color: var(--bg-green);
  text-align: center;
  font-family: roboto;
  font-size: 25px;
}
.lista::before {
  content: "Número(s)";
}
.li {
  text-align: center;
  list-style: none;
  color: var(--bg-dark);
  font-size: 19px;
}
.resultado {
  border-radius: 5px;
  box-shadow: 15px 11px 5px -2px rgba(64, 63, 63, 0.1);
  color: var(--bg-green);
  text-align: center;
  font-family: roboto;
  font-size: 25px;
}
.resultado::before {
  content: "Resultado";
}

/* Sección Formulario */
.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
input,
select {
  margin-top: 25px;
  text-align: center;
  height: 40px;
  width: 280px;
  border: 2px solid gray;
  border-radius: 5px;
  color: rgb(165, 164, 164);
}
input:active {
  border: 2px solid var(--bg-yellow);
}
select:active {
  border: 2px solid var(--bg-yellow);
}

.color-rojo {
  border: 2px solid red;
}
.button-form {
  margin-top: 20px;
  background: var(--bg-blue);
  color: var(--bg-dark);
  height: 50px;
  width: 187px;
  border: none;
  border-radius: 5px;
}
.button-form:hover {
  cursor: pointer;
  box-shadow: 15px 11px 5px -2px rgba(64, 63, 63, 0.1);
}
#texto {
  margin-top: 14px;
  color: var(--bg-pink);
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .container-header {
    width: 100%;
    height: 100px;
  }
  .container-header::before {
    background-image: url("./Images/numeral.png");
    width: 110px;
    height: 110px;
  }
  .title-main {
    font-size: 22px;
    font-weight: 300;
  }
  .main {
    flex-flow: column;
  }
  .section-uno {
    width: 50%;
    margin-top: 55px;
    border: none;
  }
  input,
  select {
    height: 30px;
    width: 180px;
  }
  .button-form {
    height: 30px;
    width: 120px;
  }
}

@media only screen and (max-width: 375px) {
  .title-main {
    font-size: 18px;
    font-weight: 300;
  }
  #texto {
    font-size: 14px;
  }
  .section-uno {
    margin-top: 40px;
  }
  .text-main {
    margin-top: 10px;
    font-size: 12px;
  }
  input,
  select {
    height: 30px;
    width: 150px;
  }
  .lista::before {
    font-size: 15px;
  }
  .resultado::before {
    font-size: 15px;
  }
  .li {
    font-size: 12px;
  }
}
